<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KARTINA - Современное искусство</title>
    <link rel="stylesheet" href="/media/styles.css">
</head>
<body>

 <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/media/logo.png" alt="Логотип">
            </a>
        </div>
        <div class="title">KARTINA</div>
        <div class="user-area">
            <a href="/favorites" style="text-decoration: none; color: inherit;">Избранное</a>
        </div>
    </div>

<h1>Управление картинами</h1>

    <div class="user-area">
            <a href="/add_pic" style="text-decoration: none; color: inherit;">Добавить картину</a>
        </div>

    <h2>Современное искусство</h2>
    <ul>
        {% for art in modern_arts %}
        <li>{{ art.title }} - {{ art.price }}$</li>
        {% endfor %}
    </ul>

    <h2>Классическое искусство</h2>
    <ul>
        {% for art in classic_arts %}
        <li>{{ art.title }} - {{ art.price }}$</li>
        {% endfor %}
    </ul>

    <h2>Абстракция</h2>
    <ul>
        {% for art in abstract_arts %}
        <li>{{ art.title }} - {{ art.price }}$</li>
        {% endfor %}
    </ul>

    <h2>Портреты</h2>
    <ul>
        {% for art in portret_arts %}
        <li>{{ art.title }} - {{ art.price }}$</li>
        {% endfor %}
    </ul>

    <div class="footer">
        <div class="contact-item">
            <strong>Телефон:</strong> <span class="phone">+7 123 456 78 90</span>
        </div>
        <div class="contact-item">
            <strong>ВКонтакте:</strong> <a class="social-link" href="https://vk.com/yourprofile">vk.com/yourprofile</a>
        </div>
        <div class="contact-item">
            <strong>Телеграм:</strong> <a class="social-link" href="https://t.me/yourusername">@yourusername</a>
        </div>
        <div class="contact-item">
            <strong>Email:</strong> <a class="social-link" href="mailto:info@yourdomain.com">info@yourdomain.com</a>
        </div>
    </div>

</body>
</html>